<!DOCTYPE html>
<html>
<head>
	<title>QuotingDojo</title>
</head>
<body>
	<div id="main">
		<h1>Here are the awesome quotes!</h1>
		<div id="quotes">
			<% quotes.forEach(function(quote){ %>
				<div class="quote">
				<p><%=quote.quote %></p>
				<p> - <%=quote.name %> at <%=quote.createdAt %></p>
				<hr>
				</div>
			<% }); %>
		</div>
	</div>
</body>
</html>